<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - {{ app_name }}</title>
    <link rel="icon" type="image/png" href="/static/img/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/static/js/tailwindcss.js?v={{ unixtime }}"></script>
</head>
<body class="bg-gray-100 text-gray-900">
<header class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="flex items-center text-xl font-bold hover:text-gray-300 transition duration-300">
            <img src="/static/img/logo.png" class="w-12 h-12 mr-2">
            {{ app_name }}
        </a>

        <nav class="flex space-x-4">
            <a href="https://github.com/WhySpice/lunapeak-framework" target="_blank" class="text-md hover:text-gray-300 transition duration-300">
                <i class="fa-brands fa-github fa-fw"></i>
                GitHub
            </a>
        </nav>
    </div>
</header>

<main class="container mx-auto p-4">
    {% block content %}{% endblock %}
</main>
</body>
</html>