{% extends 'layouts/base.twig' %}

{% block title %}{{ trans('lunapeak_first_page') }}{% endblock %}

{% block content %}
    <p class="text-white/80 text-lg mb-6" id="description">
        {{ trans('welcome') }} {{ trans('lunapeak_first_page') }}
    </p>
{% endblock %}