{% extends 'layouts/base.twig' %}

{% block title %}Добро пожаловать{% endblock %}

{% block content %}
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Добро пожаловать!</h2>
        <p class="text-gray-700">Это ваша первая страница LunaPeak.</p>

        <h2 class="text-md font-bold mt-2">Полезные ссылки:</h2>
        <a href="https://github.com/WhySpice/lunapeak-framework" target="_blank" class="text-md text-blue-500 hover:text-blue-700 transition duration-300">
            <i class="fa-brands fa-github fa-fw"></i>
            GitHub
        </a>
    </div>
{% endblock %}