{% extends 'layouts/base.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl text-red-500 font-semibold mb-4">{{ error.title }}</h2>
        <p class="text-red-700">{{ error.text }}</p>
    </div>
{% endblock %}